@namespace DartsScoreboard

@if (KeyboardParameters != null)
{
    <div class="keyboard-container">
        @foreach (List<KeyboardKey> keyboardRow in KeyboardParameters.KeyboardKeys)
        {
            <div class="keyboard-row">
                @foreach (KeyboardKey keyboardKey in keyboardRow)
                {
                    bool isDisabled = keyboardKey.IsDisabled?.Invoke() ?? false;

                    <button class="keyboard-key"
                    style="@GetStyle(keyboardKey, isDisabled)"
                    disabled="@isDisabled"
                    @onclick="@(() => { if (!isDisabled) KeyClick.InvokeAsync(keyboardKey); })">
                        @keyboardKey.Text
                    </button>
                }
            </div>
        }
    </div>
}
@code
{
    private string GetStyle(KeyboardKey keyboardKey, bool isDisabed)
    {
        if (isDisabed)
            return keyboardKey.StyleDisabled;
        return keyboardKey.Style;
    }
}