@page "/cricket-practice/{code}"
@namespace DartsScoreboard


<div class="main-container">
    <div class="target-container">
        <div class="target">
            @CurrentTarget
        </div>
    </div>
    <div class="players-and-keyboard">
        <div class="players">
            @for (int i = 0; i < Players.Count; i++)
            {
                <div class="player">
                    <div class="player-name">
                        @Players[i].UserName
                    </div>
                    <div class="player-score">
                        @Players[i].Points
                    </div>
                </div>
            }
        </div>
        <div class="keyboard-container">
        </div>
    </div>
</div>