@page "/cricket-practice/{code}"
@namespace DartsScoreboard


<div class="main-container">
    <div class="target-container">
        <div class="target">
            @CurrentTarget
        </div>
    </div>
    <div class="players">
        @foreach (var player in CricketPracticeGame.Players)
        {
            <div class="player"> 
            </div>
        }
    </div>
</div>