@namespace DartsScoreboard
@page "/gamesStandard"

<h2>Game</h2>

<div class="game-container">

    <!-- Player Options -->
    <div class="player-options">
        <h4>Players</h4>
    </div>

    <!-- Game Options -->
    <div class="game-options">
        <h4>Game options</h4>
        <!-- Score Options -->
        <div class="form-group mb-3">
            <div class="btn-group" role="group">
                @foreach (var score in StartingScoreOptions)
                {
                    <button type="button"
                            class="btn @(SelectedScore == score ? "btn-primary" : "btn-outline-primary")"
                            @onclick="() => SelectScore(score)">
                        @score
                    </button>
                }
            </div>
        </div>
        <!-- Start With Options -->
        <div class="form-group mb-3">
            <div class="btn-group" role="group">
                @foreach (var startWith in StartingOptions)
                {
                    <button type="button"
                            class="btn @(SelectedStartWith == startWith ? "btn-primary" : "btn-outline-primary")"
                            @onclick="() => SelectIn(startWith)">
                        @startWith
                    </button>
                }
            </div>
        </div>
        <!-- End With Options -->
        <div class="form-group">
            <div class="btn-group" role="group">
                @foreach (var endWith in EndingOptions)
                {
                    <button type="button"
                            class="btn @(SelectedEndWith == endWith ? "btn-primary" : "btn-outline-primary")"
                            @onclick="() => SelectOut(endWith)">
                        @endWith
                    </button>
                }
            </div>
        </div>
    </div>

    <!-- Start Button -->
    <div class="start-button">
        <button class="btn btn-primary" @onclick="StartGame">
            Start
        </button>
    </div>

</div>