@namespace DartsScoreboard
@page "/games"

<div class="buttons-div">
	<button class="home-button" @onclick="Standard">Standard</button>
	<button class="home-button" @onclick="CricketPractice">Cricket Practice</button>
	<button class="home-button" @onclick="Cricket">Cricket</button>
	<button class="home-button" @onclick="Back">Back</button>
</div>