@namespace DartsScoreboard
@page "/games"

<div class="buttons-div">
	<MudButton @onclick="Standard" Variant="Variant.Filled" Color="Color.Primary" Style="background-color: gray; background-color: var(--color1); width: 300px; height: 80px;">
		Standard
	</MudButton>
	<MudButton @onclick="CricketPractice" Variant="Variant.Filled" Color="Color.Primary" Style="background-color: gray; background-color: var(--color1); width: 300px; height: 80px;">
		Cricket Practise
	</MudButton>
	<MudButton @onclick="Cricket" Variant="Variant.Filled" Color="Color.Primary" Style="background-color: gray; background-color: var(--color1); width: 300px; height: 80px;">
		Cricket
	</MudButton>
	<MudButton @onclick="Back" Variant="Variant.Filled" Color="Color.Primary" Style="background-color: gray; background-color: var(--color1); width: 300px; height: 80px;">
		Back
	</MudButton>
</div>