@namespace DartsScoreboard
@page "/games"

<div class="buttons-div">
	<button class="home-button" @onclick="Standard">Standard</button>
	<button class="home-button" @onclick="CricketPractice">Standard</button>
	<button class="home-button">Cricket</button>
</div>