@page "/"
@namespace DartsScoreboard

<div class="buttons-div">

    <button class="home-button" @onclick="NewGame">
        New Game
    </button>
    <button class="home-button" @onclick="OpenStats">
        Player Stats
    </button>
    <button class="home-button" @onclick="TestAddUser">
        TestAddUser
    </button>
    <button class="home-button" @onclick="Settings">
        Settings
    </button>
</div>
 