@page "/"
@namespace DartsScoreboard
 
<div class="buttons-div">

<div class="home-button" @onclick="NewGame">
    New Game
</div>
    <div class="home-button" @onclick="OpenStats">
    Stats
</div>
</div>
