@page "/"
@namespace DartsScoreboard

<div class="buttons-div">

    <button class="home-button" @onclick="NewGame">
        New Game
    </button>
    <button class="home-button" @onclick="OpenStats">
        Player Stats
    </button>
    <MudButton @onclick="OpenDialogAsync" Variant="Variant.Filled" Color="Color.Primary">
        Add player  
    </MudButton>
    <button class="home-button" @onclick="Settings">
        Settings
    </button>
</div>
 