@page "/"
@namespace DartsScoreboard

<div class="buttons-div">

    <button class="home-button" @onclick="NewGame">
        New Game
    </button>
    <div class="home-button" @onclick="OpenStats">
        Stats
    </div>
    <div class="home-button" @onclick="TestAddUser">
        TestAddUser
    </div>
    <button class="home-button" @onclick="Settings">
        Settings
    </button>
</div>
 